<?xml version='1.0' encoding='utf-8'?>
<widget id="lu.autisme.displayclient" version="0.12.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Autisme Display App</name>
    <description>
        Autisme Display Manager
    </description>
    <author email="jill.staudt@autisme.lu" href="http://www.autisme.lu">
        Staudt Jill
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*youtube*" />
    <allow-navigation href="*ytimg*" />
    <allow-navigation href="*youtube-nocookie*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <hook src="hooks/xcode8.js" type="before_compile" />
    </platform>
    <preference name="DisallowOverscroll" source="npm" value="true" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
        <string>need camera access to take pictures</string>
    </edit-config>
    <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
        <string>need photo library access to get pictures from there</string>
    </edit-config>
    <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
        <string>need location access to find things nearby</string>
    </edit-config>
    <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryAddUsageDescription">
        <string>need photo library access to save pictures there</string>
    </edit-config>
    <plugin name="com.hughisaacs2.cordova.plugins.androidtvplugin" spec="git+https://github.com/hughisaacs2/Cordova-Android-TV-Plugin.git" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-plugin-android-tv" spec="^1.0.3" />
    <plugin name="cordova-plugin-camera" spec="^4.0.3" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="android" spec="^7.1.4" />
    <engine name="ios" spec="^4.5.5" />
</widget>
