body {
	margin: 0px;
	padding: 0px;
}

.title {
	font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
	color: #0A328C;
	position: fixed;
	display: block;
	width: 100%;
	top: 0;
	/* background-color: white; */
	z-index:1;
}

.config-icon-autisme {
	background-image: url("../img/logo_autisme.png");
	height: 100%;
    background-size: contain;
}

.spacer {
	border: unset;
    border-bottom: 1px solid #0A328C;
}

#container {
	margin: 0 auto;
	padding-top:60px;
	display: block;
	/* max-height: 100vh; */
}

#empty-container {
	margin: 0 auto;
    height: 90vh;
    width: 100vw;
    padding: 5vh 5vw;
    text-shadow: none;
    color: white;
}

#config-icon-container {
	position: absolute;
    top: 0px;
    right: 0px;
    height: 30px;
    width: 30px;
	z-index:1;
	padding:10px;
	background-color: #F2EEEB;
}

#config-icon {
	font-size:24pt;
}

#config-container {
	display:none;
	position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);
	z-index: 1;
}

.modesel {
	font-size: 16pt;
	margin: 10px;
}

.config-innercontainer {
	margin: 20vh 20vw;
    height: 60vh;
    width: 60vw;
	background-color: white;
	position: relative;
	padding: 5px;
}

#gogoYoutube, #gogoPicture {
	position: absolute;
    bottom: 5px;
    margin: 0 auto;
    background: gold;
    padding: 10px 20px;
	font-size: 16pt;
}

#gogoYoutube {
	left: 20px;
}

#gogoPicture {
    right: 20px;
}

.service, .smallservice {
	display: inline-block;
    /* background-color: white; */
}

.screenclass {
	font-size: 26pt;
	margin-bottom: 5px;
}

break {
  flex-basis: 100%;
  width: 0px; 
  height: 0px; 
  overflow: hidden;
}

@media screen and (orientation:landscape) {

	.service {
		width: 150px;
	}
	.smallservice {
		width: 100px;
	}
	#container {
		width:900px;
	}
}

@media screen and (orientation:portrait) {

	.service {
		width: 140px;
		margin: 5px;
	}
	.smallservice {
		width: 135px;
	}
	#container {
		width:700px;
	}

}

.service-img {
	width: 100%;
	box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.5);
    border-radius: 75px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
}

.screen {
	display:flex;
	flex-flow: row wrap;
    justify-content: center;
}

.phphoto {
	display:inline-block;
	margin:10px;
}

.text {
	font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 20px;	
	clear: both;
}

.backlink {
	font-family: Verdana, Geneva, sans-serif;
	margin: 5px;
	position: fixed;
    top: 0;
    z-index: 1;
	font-size:24pt;
	line-height:42px;
	z-index:2;
}

.phmodal {
	display:none;
	position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);
	z-index:1;
}

.phmodal-container {
	margin: 25vh 25vw;
    height: 50vh;
    width: 50vw;
    background-color: white;
	padding: 20px 10px;
}

.phmodal-container input[type="text"] {
	width: 90%;
	border: 1px solid #ccc;
	outline: none;
	margin-bottom: 4%;
	padding: 3%;
	color: #555;
	background: #fff;
}

.phmodal-container input[type="text"]:focus {
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.phmodal-container button[type="button"] {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}

.styled-select {
	
}

.styled-select:before {
	content: '';
}
.styled-select:after {
	content: '';
}

.iconselector {
	width: 50px;
    height: 50px;
    background-color: #0091ff;
    font-size: 32pt;
    margin: 10px;
    padding-left: 7px;
    padding-top: 7px;
	text-shadow: none;
}

h2 {
	text-align: center;
    padding: 15px;
}

.modalcontent {
    width: 300px;
    height: 400px;
    background-color: rgba(255, 255, 255, 1);
	margin: 200px auto;
}
#modalTitle {
    text-align: center;
    padding: 10px;
}
.popupButtons {
	display: block;
    text-align: center;
    background-color: #2ad;
    padding: 15px;
	margin: 0 15px;
    text-shadow: none;
    color: white;
    text-decoration: none;
	margin-bottom: 10px;
}

#smallservicecontainer {
	width: 80%;
    margin: 200px auto;
	padding:5%;
	background-color: white;
}


/*
	FLIP IT
*/
.flipit {
	 width:144px;
    /* The width of this element */
    float:left;
}

.flipcard {
    position: relative;
    height: auto;
    min-height: 0px;
    /* Flip card styles: WebKit, FF, Opera */
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-transition: min-height 1s ease-out 0s, -webkit-transform 1s ease-out 0.5s;
    -moz-transition: min-height 1s ease-out 0s, -moz-transform 1s ease-out 0.5s;
    -o-transition: min-height 1s ease-out 0s, -o-transform 1s ease-out 0.5s;
    /* only height adjustment for IE here */
    -ms-transition: min-height 1s ease-out 0s;
}
/* The class that flips the card: WebKit, FF, Opera */
 .flipcard.card-flipped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.flipcard .flipcard-front, .flipcard .flipcard-back, .front, .back {
    top: 0;
    left: 0;
    width: 100%;
    /* backface: all browsers */
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    /* Flip card styles: IE 10,11 */
    -ms-perspective: 800px;
    -ms-transform-style: flat;
    -ms-transition: -ms-transform 1s ease-out 0.5s;
}
.flipcard .flipcard-front, .front, .back {
    position: relative;
    display: inline-block;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flipcard .flipcard-front img {
	width:124px;
	height:193px;
}

.flipcard .flipcard-back {
    position: absolute;
	height: 215px;
    display: none;
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    /*  webkit bug: https://bugs.webkit.org/show_bug.cgi?id=54371,
          You need this fix if you have any input tags on your back face */
    -webkit-transform: rotateY(180deg) translateZ(1px);
}
/* The 2 classes that flip the faces instead of the card: IE 10,11 */
 .flipcard .flipcard-front.ms-front-flipped {
    -ms-transform: rotateY(180deg);
}
.flipcard .flipcard-back.ms-back-flipped {
    -ms-transform: rotateY(0deg);
}
.info {
    text-align:justify;
    padding:0px 5px;
    line-height:initial;
}

.back-info {
	margin: 5px;
    text-align: center;
    font-size: 18pt;
}

#theContent {
 background-color:#F2EEEB;
 height: 100vh;
}